/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan+SC&display=swap');

/* Define CSS variables in :root pseudo-class selector */
:root {
    --primary-color: #3498db; /* blue */
    --secondary-color: #f1c40f; /* orange */
    --background-color: #f9f9f9; /* light gray */
    --text-color: #333; /* dark gray */
    --font-family: 'Open Sans', sans-serif;
  }
  
  /* Style headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    color: var(--primary-color);
    margin-bottom: 0.5em;
  }
  
  /* Style paragraphs */
  p {
    font-family: var(--font-family);
    color: var(--text-color);
    margin-bottom: 1em;
  }
  
  /* Add colors to fonts */
  a {
    color: var(--secondary-color);
    text-decoration: none; /* remove underlines from social media links */
  }
  
  /* Limit the entire width of the page */
  .container {
    max-width: 1200px; /* adjust the value according to your design needs */
    margin: 0 auto; /* center the container */
    padding: 20px; /* add some padding for better readability */
  }

  /* Style the hero section */
.hero {
    position: relative; /* allow absolute positioning of h1 and article */
    overflow: hidden; /* prevent article from overflowing the hero container */
  }
  
  .hero img {
    display: block;
    width: 100%; /* fill the width of the container */
    height: auto; /* maintain aspect ratio */
  }
  
  .hero h1 {
    position: absolute;
    top: 50%; /* center vertically */
    left: 20px; /* add some padding from the left edge */
    font-size: 36px; /* adjust font size to fit the design */
    color: #fff; /* white text on top of the hero image */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add text shadow for readability */
  }
  
  .hero article {
    position: absolute;
    bottom: 20px; /* position at the bottom of the hero container */
    left: 20px; /* add some padding from the left edge */
    background-color: rgba(255, 255, 255, 0.8); /* white background with 80% opacity */
    padding: 20px; /* add some padding for better readability */
    border-radius: 10px; /* add some rounded corners for a nicer design */
  }
  
  .hero article img {
    float: right; /* float the image to the right of the paragraph */
    margin: 10px; /* add some margin around the image */
  }
  
  .hero article p {
    margin-bottom: 20px; /* add some margin between the paragraph and the image */
  }